.overlay-single-movie {
  height: 100%;
  width: 100%;
  position: relative;
}

.backdrop {
  height: 1000px;
  width: 100%;
  position: absolute;
}

.movie-info {
  height: 60%;
  width: 60%;
  background-color: white;
  position: absolute;
}