header {
  font-family: 'Bebas Neue', cursive;
  font-weight: 900;
  height: 70px;
  background-color: #880114;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 0;
  border-bottom: rgb(255, 217, 0) 5px solid;
}

h1 {
  margin: 0;
  color: white;
  font-size: 30pt;
  padding: 3%;
}

.header {
  display: flex;
  align-items: center;
  width: 50%;
}

.tomatillo {
  height: 150px;
}