img {
  height: 100%;
}

.card {
  height: 100%;
  margin: 0%;
  border: 5px white solid;
  position: relative;
  cursor: pointer;
}

figcaption {
  position: absolute;
  height: 15%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.599), rgba(255, 255, 255, 0));
  display: flex;
}

.overlay-cap {
  padding: 5%;
  color: white;
  font-size: 25pt;
  font-weight: 900;
  font-family: Verdana, sans-serif;
  text-shadow: 5px 5px 5px black;
}

.date {
  font-size: 10pt;
}