input {
  margin: 0 2% 0 5%;
  height: 25px;
  padding: 1%;
  width: 200px;
  font-size: 12pt;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 18pt;
  color: white;
  justify-content: flex-end;
  margin-right: 2%;
}

.clear-btn {
  font-family: 'Bebas Neue', cursive;
  background: none;
  border: 2px white solid;
  padding: 1%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18pt;
  color: white;
}