input {
  margin: 0 2% 0 5%;
  height: 25px;
  padding: 1%;
  width: 200px;
  font-size: 12pt;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 35%;
  font-size: 18pt;
  color: white;
}

.search-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 20pt;
  font-weight: 900;
}